In [1]:
%matplotlib inline
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Vardo,NO,2021-07-05 22:56:45,70.3705,31.1107,53.42,84,9,9.69
1,1,Togur,RU,2021-07-05 22:56:45,58.3631,82.8265,61.57,97,22,9.86
2,2,Fortuna,US,2021-07-05 22:56:46,40.5982,-124.1573,70.86,79,40,3.00
3,3,Viseu,PT,2021-07-05 22:56:46,40.6610,-7.9097,63.86,96,100,5.82
4,4,Arraial Do Cabo,BR,2021-07-05 22:56:46,-22.9661,-42.0278,68.58,68,31,8.61

In [3]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [37]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
#heat_layer = gmaps.heatmap_layer(locations, weights=temps)
#heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [38]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [41]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [42]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [43]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [44]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
15,15,Rikitea,PF,2021-07-05 22:56:50,-23.1203,-134.9692,75.15,61,0,16.51
17,17,Alugan,PH,2021-07-05 22:56:50,12.2188,125.4808,79.34,84,100,2.98
27,27,Atuona,PF,2021-07-05 22:56:53,-9.8000,-139.0333,78.62,80,29,24.07
29,29,Bethel,US,2021-07-05 22:56:54,41.3712,-73.4140,80.89,79,39,6.73
30,30,Albany,US,2021-07-05 22:52:01,42.6001,-73.9662,82.99,71,46,3.22
33,33,Ormara,PK,2021-07-05 22:56:54,25.2088,64.6357,81.54,77,1,13.04
39,39,Syracuse,IT,2021-07-05 22:56:56,37.0881,15.2792,79.61,78,0,8.19
42,42,Port-Gentil,GA,2021-07-05 22:56:57,-0.7193,8.7815,75.16,88,75,4.61
46,46,Cherskiy,RU,2021-07-05 22:56:58,68.7500,161.3000,79.50,26,94,7.90
50,50,Kloulklubed,PW,2021-07-05 22:56:59,7.0419,134.2556,82.40,76,98,12.01

In [49]:
preferred_cities_df.count()

City_ID       189
City          189
Country       189
Date          189
Lat           189
Lng           189
Max Temp      189
Humidity      189
Cloudiness    189
Wind Speed    189
dtype: int64

In [50]:
len(city_data_df)

544

In [51]:
len(preferred_cities_df)

189

In [52]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

           City Country  Max Temp      Lat       Lng Hotel Name
15      Rikitea      PF     75.15 -23.1203 -134.9692
17       Alugan      PH     79.34  12.2188  125.4808
27       Atuona      PF     78.62  -9.8000 -139.0333
29       Bethel      US     80.89  41.3712  -73.4140
30       Albany      US     82.99  42.6001  -73.9662
33       Ormara      PK     81.54  25.2088   64.6357
39     Syracuse      IT     79.61  37.0881   15.2792
42  Port-Gentil      GA     75.16  -0.7193    8.7815
46     Cherskiy      RU     79.50  68.7500  161.3000
50  Kloulklubed      PW     82.40   7.0419  134.2556

In [53]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [55]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [56]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
15,Rikitea,PF,75.15,-23.1203,-134.9692,People ThankYou
17,Alugan,PH,79.34,12.2188,125.4808,JM Lodge
27,Atuona,PF,78.62,-9.8000,-139.0333,Villa Enata
29,Bethel,US,80.89,41.3712,-73.4140,Courtyard by Marriott Danbury
30,Albany,US,82.99,42.6001,-73.9662,
33,Ormara,PK,81.54,25.2088,64.6357,Crystal Beach and Camping Resort Ormara
39,Syracuse,IT,79.61,37.0881,15.2792,Hotel Posta
42,Port-Gentil,GA,75.16,-0.7193,8.7815,Fengshui Residence
46,Cherskiy,RU,79.50,68.7500,161.3000,Gostinitsa
50,Kloulklubed,PW,82.40,7.0419,134.2556,Storyboard Beach Resort

In [64]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [65]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [67]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))